.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ===== Python =====
__pycache__/
*.pyc
.venv/
.env

# ===== Node =====
node_modules/
.next/
dist/
build/

# ===== Common =====
.env.*
.DS_Store